@tailwind base;
@tailwind components;
@tailwind utilities;

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@media (min-width: 768px) {
  .background-gif {
    background: url(assets/background.svg) no-repeat beige;
    background-size: cover;
  }
}
