@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap");

body {
  font-family: Red hat Display, sans-serif;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
input,
textarea {
  outline: none;
}

i {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  background-color: #d1d5db !important;
}

@media (min-width: 768px) {
  .background-gif {
    background: url(assets/background.svg) no-repeat beige;
    background-size: cover;
  }
}
